.home {
  min-height: 895px;
  padding: 175px 0;
  position: relative;
}
.home-content {
  max-width: 440px;
}
.home-heading {
  margin-bottom: 30px;
  color: #01996d;
  font-weight: 700;
  font-size: 65px;
  font-family: "Georgia" serif;
}
.home-text {
  color: #484848;
  max-width: 430px;
  line-height: 144.5%;
  margin-bottom: 53px;
}
.home-btn {
  display: flex;
}
.home-bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}
.home-bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .home-bg-image img {
    opacity: 0.5;
  }
  .home {
    padding: 40px 0;
    min-height: unset;
  }
  .home-heading {
    font-size: 45px;
    line-height: 1.2;
  }
  .home-text {
    margin-bottom: 30px;
  }
}
